@import "styles/vars";

.layout {
  padding-top: 39px;
  padding-bottom: 55px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.08);
}

.card-detail {
  padding: 8px 24px;
  margin-top: 20px;
}

.card-table {
  padding-top: 16px;
  margin-top: 16px;
}

.table {
  overflow-y: auto;
  height: 540px;
  scrollbar-width: none;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead th {
    background-color: white;
    position: sticky;
    top: 0;
  }

  thead tr > th, tbody tr > td {
    font-size: 16px;
  }

  thead tr > th:first-child,
  tbody tr > td:first-child {
    padding-left: 24px;
  }

  tbody tr > td {
    vertical-align: middle;
  }

  .td-name {
    display: flex;
    flex-direction: column;
    margin-left: 6px;

    span:last-child {
      font-size: 14px;
      font-weight: 300;
      color: $ShuttleGray;
      margin-top: -5px;
    }
  }
}

.table::-webkit-scrollbar {
  width: 0;
}

.input {
  min-width: 384px;

  input {
    border-radius: 6px;
  }
}

.checkbox {
  font-size: 14px !important;
  color: $ShuttleGray !important;

  :global(.checkbox) {
    border: 1px solid $Mischka;
  }

  label {
    color: $ShuttleGray;
  }
}

@media (max-width: $md) {
  .input {
    min-width: auto;
  }
}