@import 'styles/vars';

.table-container {
    width: 100%;
    padding-bottom: 15px;
    background-color: $White;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.08);
}
.table {
    width: 100%;
}
.header-table {
    height: 47px;
    width: 66%;
    line-height: 47px;
    font-family: SofiaPro;
    font-size: 16px;
    color: $RollingStone;
    span {
        margin-left: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }
}
  
  .row-item {
    span {
      margin-left: 24px;
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        margin-left: 0;
      }
    }
  }
  .row-item:first-child {
    color: $BlueRibbon;
  }
  

  
  .row {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid $CatskillWhite;
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
  }
  
  
  