@import 'styles/vars';

.input {
  width: 100%;
  border: 1px solid $CatskillWhite;
  border-radius: 8px;
  outline: none;
  color: $CodGray;
  padding-right: 16px;
  padding-left: 16px;
  transition: ease-in;
}

.input:focus {
  border: 1px solid $BlueRibbon;
  outline: none;
}

.input::placeholder {
  color: $Manatee;
}
