@import "styles/vars";

.container:not(:last-child) {
  border-right: 1px solid $SecondaryAthensGray;
}

.container:not(:first-child) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.block {
  display: block;
  padding: 1px 0;
}

.title {
  font-size: 14px;
  color: $RollingStone;
}

.xlm {
  font-size: 22px;
  font-weight: 500;
  color: $CodGray;

  span {
    font-size: 14px;
    font-weight: normal;
  }
}

.value {
  font-size: 14px;
  color: $ShuttleGray;
}

@media (max-width: $md) {
  .container {
    border-right: 1px solid transparent !important;
    justify-content: flex-start !important;
    min-height: 90px;
  }

  .container:not(:last-child) {
    border-bottom: 1px solid $SecondaryAthensGray;
    margin-bottom: 10px;
  }
}

